# used in tandem with package.json engines section to only use yarn
engine-strict=true
//npm.pkg.github.com/:_authToken=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
@vshia:registry=https://npm.pkg.github.com
